.square {
  padding: 8px;
  height: 100%;
  width: 33%;
  font-size: 2em;
  font-family: 'Mystery Quest', sans-serif;
  background: transparent;
  border: none;
}

.board {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url('../img/gameBoard.min.svg') no-repeat center;
  background-size: cover;
  overflow: visible;
  position: relative;
}

.board-row {
  height: 33%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.board-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.board-container h1 {
  color: black;
  text-align: center;
}

.announcement {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.249);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: black;
}

.restart-button {
  height: 30px;
  font: 1.5em;
}